@import "./grid"
@import "./spaces/spaces"
@import "./keyframes"
@import "./utils"
@import "./colors"

*
    box-sizing: border-box
    margin: 0
    padding: 0

body, html
    margin: 0
    padding: 0
    scroll-behavior: smooth
    font-family: 'Arial', sans-serif